/* Fonts */

@font-face {
  font-display: swap;
  font-family: WorkSans;
  font-weight: 200;
  src: local("WorkSans ExtraLight"), local("WorkSans-ExtraLight"), url(fonts/WorkSans-ExtraLight.woff2);
}

@font-face {
  font-display: swap;
  font-family: WorkSans;
  font-weight: 300;
  src: local("WorkSans Light"), local("WorkSans-Light"), url(fonts/WorkSans-Light.woff2);
}

@font-face {
  font-display: swap;
  font-family: WorkSans;
  font-weight: 400;
  src: local("WorkSans Regular"), local("WorkSans-Regular"), url(fonts/WorkSans-Regular.woff2);
}

@font-face {
  font-display: swap;
  font-family: WorkSans;
  font-weight: 800;
  src: local("WorkSans ExtraBold"), local("WorkSans-ExtraBold"), url(fonts/WorkSans-ExtraBold.woff2);
}

@font-face {
  font-display: swap;
  font-family: WorkSans;
  font-weight: 900;
  src: local("WorkSans Black"), local("WorkSans-Black"), url(fonts/WorkSans-Black.woff2);
}

@font-face {
  font-display: swap;
  font-family: NerdFont;
  src: local("NerdFont Regular"), url(fonts/SymbolsNerdFont-Regular.ttf);
}


/* Variables */

:root {
  --azure: #eafdf8;
  --purple: #1f0322;
  --purple-light: #7d6b91;
  --red: #e8403a;
  --yellow: #e2c044;
}


/* Common */

html {
  background: var(--azure);
  color: var(--purple);
  font-family: WorkSans, sans-serif;
  font-size: 14pt;
}

body {
  margin: 0;
}

::before {
  font-family: NerdFont;
  padding-right: 0.5em;
}

a {
  color: var(--red);
  text-decoration: none;
}

article {
  padding-top: 5rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}


/* Nav */

nav {
  background: var(--azure);
  border-bottom: 1px solid var(--purple-light);
  display: flex;
  height: 4.1rem;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    align-self: center;
    flex-grow: 2;
    font-weight: 300;
    margin-left: 2rem;

    a {
      color: var(--purple);
    }
  }

  ul {
    padding: 0 2rem 0;

    li {
      display: inline-block;
      padding: 0 1em;
      vertical-align: middle;

      &:last-of-type {
        padding: 0 0 0 1em;
      }
    }

    a {
      padding-bottom: 0.3em;

      &::before {
        content: "—";
      }

      &:hover {
        border-bottom: 2px solid var(--red);
      }
    }
  }
}


/* Icons */

#bluesky::before {
  content: "\e28e";
}

#github::before {
  content: "\f09b";
}

#instagram::before {
  content: "\f16d";
}

#linkedin::before {
  content: "\f0e1";
}

#twitter::before {
  content: "\f099";
}

#mail::before {
  content: "\f003";
}
